body
{
    background-color: gray;
    margin: 0;
}
.main
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    
   
    
}
.buttons_wrap
{
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.input_wrap
{
    background-color: white;
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.buttons_item
{
    flex-basis: 25%;
}
#input
{
    font-size: 3rem;
    margin-right: 2rem;

}